@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>
    Welcome to the Joel Hilton Film Collection
</h1>

<br />
<p>Meet the man himself:</p>
<img src="~/img/JoelHiltonHeadshot.jpg" height="500" alt="Joel" />

<a asp-controller="Home" asp-action="EnterMovie">Submit a Movie</a>
<br />
<a href="https://baconsale.com">Go to my blog</a>